#google_translate_element {
  position: fixed;
  top: 70px;
  right: 10px;
  z-index: 40;
  background: #fff;
  padding: 5px 10px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

/* Hide on mobile to avoid conflicts */
@media (max-width: 768px) {
  #google_translate_element {
    top: 70px;
    right: 10px;
    font-size: 12px;
    padding: 3px 6px;
  }
}

.goog-te-gadget img {
  display: none; /* Hide Google branding flag icon */
}
iframe.goog-te-banner-frame {
  display: none !important;
}

body {
  top: 0 !important;
}
